<h1>Editing Cost Oper Machine Cont</h1>

<%= render 'form', cost_oper_machine_cont: @cost_oper_machine_cont %>

<%= link_to 'Show', @cost_oper_machine_cont %> |
<%= link_to 'Back', cost_oper_machine_conts_path %>
