
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 align="Machinery Outsourced"></h3></div>
            <%=render 'layouts/submenu' %>
            <div class="panel-body">
                <table data-toggle="table" data-url="cost_oper_machine_cont"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                    <thead>
                        <tr>
                            <th data-field="id" data-checkbox="true">Item ID</th>
                            <th data-field="code" >Farming Plot</th> 
                            <th data-field="name" >Type Of Service</th>                            
                            <th data-field="area"  data-sortable="true">U.M</th>
                            <th data-field="description">Total</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>