<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped table-condensed" id="table_farming_plots" data-url="farming_plots" data-toggle="table" data-show-columns="true" data-search="true" data-pagination="true" data-sort-name="name" data-sort-order="asc">
            <thead>
                <tr>
                    <th data-field="code">Codigo</th> 
                    <th data-field="name">Nombre</th>                            
                    <th data-field="area">Area</th>
                    <th data-field="people_id">Encargado</th>                           
                    <th data-field="description">Descripcion</th>
                    <th class="text-right">Accion</th>
                </tr>
            </thead>
            <tbody>
                <% if (@farming_plots == nil )%>
                  <tr><td colspam="7">no cuenta con datos</td></tr>
                <%else%>
                  <%= render "line"%>
                <%end%>
            </tbody>
        </table>
    </div>
</div>
    <input type="hidden" id="controller" value="<%= controller_name%>"
<!--############################################-->

