<div class="panel-body">
    <div class="table-responsive">
        <table data-width="100%"  
            data-flat="true"
            data-response-handler="flatJSON"
            data-search="true"                
            class="table table-hover table-striped table-condensed display" 
            data-toggle="table"
            data-show-toggle="true"                
            data-show-refresh="false" 
            data-pagination="true" 
            onlyInfoPagination="false" 
            data-icons="icons" data-sort-name="code" data-sort-order="desc" 
            data-card-view="false"
        >
            <thead>
                <tr>
                    <th data-visible="false" data-field="id">Id</th> 
                    <th data-field="code">Código</th> 
                    <th data-field="name">Nombre</th>                            
                    <th data-field="area">Área</th>
                    <th data-field="people_id">Encargado</th>                           
                    <th data-field="description">Descripción</th>
                    <th data-halign="right" data-align="right" data-formatter="actionFormatter" data-events="actionEvents">Acción</th>
                </tr>
            </thead>
            <tbody>
                  <%= render "line"%>
            </tbody>
        </table>
    </div>
<input type="hidden" id="controller" value="<%= controller_name%>"


