
<div class="panel-body">
    <table data-toggle="table" data-url="model"  data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
        <thead>
            <tr>
                <th data-field="brand">Marca</th> 
                <th data-field="name">Modelo</th> 
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <% @models.each do |model| %>
             <tr id="tr_<%= model.id %>">
                 <td><%= model.brand.name%></td>
                 <td><%= model.name %></td>
             </tr>
            <% end %>
        </tbody>
    </table>
</div>
 <input type="hidden" id="controller" value="<%= controller_name%>">