<h1>Editing Manu Indi Expense Det</h1>

<%= render 'form', manu_indi_expense_det: @manu_indi_expense_det %>

<%= link_to 'Show', @manu_indi_expense_det %> |
<%= link_to 'Back', manu_indi_expense_dets_path %>
