<div class="panel-body">
   <div class="table-responsive">
      <table    
              data-width="100%"
              class="table table-hover table-striped table-condensed display"
              data-toggle="table" 
              data-search="true" 
              data-toolbar="toolbar1"
              data-show-toggle="true"
              data-show-refresh="false"
              data-pagination="true"
              onlyInfoPagination="false"
              data-icons="icons"
              data-height="380"
              data-sort-name="name"
              data-sort-order="desc" 
              data-card-view="false">
         <thead>
            <tr>
                <th data-field="id" data-checkbox="true"></th>
                <th data-field="farming_plot_id" data-sortable="true" >Parcela</th> 
                <th data-field="total"> Subtotal</th>                                                      
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <% @cost_oper_machines.each do |cost_own_machine| %>
              <tr>
                  <td><%= cost_own_machine.id %></td>
                  <td><%= cost_own_machine.farming_plot.name%></td>
                  <td><%= cost_own_machine.total %></td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>
 <input type="hidden" id="controller" value="<%=controller_name%>">