<p id="notice"><%= notice %></p>

<h1>Cost Oper Machines</h1>

<table>
  <thead>
    <tr>
      <th>Farming plot</th>
      <th>Machines And Implements</th>
      <th> Detail</th>
      <th>Time Operative</th>
      <th>Subtotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cost_oper_machines.each do |cost_oper_machine| %>
      <tr>
        <td><%= cost_oper_machine.farming_plot.name %></td>
        <td><%= cost_oper_machine.total %></td>
           </tr>
    <% end %>
           
  </tbody>
</table>

<br>

<%= link_to 'New Cost Oper Machine', new_cost_oper_machine_path %>
