<div class="modal fade md_statistics" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-md">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Cuenta de resultados - </h3>
         </div>
         <div class="modal-body">
            <div id="chart" style="width: 600px; height: 600px;"></div>        
         </div>
         <div class="modal-footer">                
         </div>
      </div>
   </div>  
</div>