<div class="table-responsive">
	<table id="tb_income" class="table table-condensed">
		<thead>
			<tr>
				<th>Descripción</th>
				<th>Monto</th>
				<th class="text-right">% sobre ventas</th>
			</tr>
		</thead>
		<tbody>
			<tr class="h6 font-weight-bold active">
				<td>Ventas brutas :</td>
				<td class="text-right" id="total_gross_sale"></td>
				<td class="text-right">100,00</td>
			</tr>
			<tr>
				<td>Devoluciones :</td>
				<td class="text-right" id="total_devolution">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Descuentos : </td>
				<td class="text-right" id="total_discount">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="h6 font-weight-bold success">
				<td>Ventas netas : </td>
				<td class="text-right" id="total_net_sales">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Coste de producción : </td>
				<td class="text-right" id="prod_cost"></td>
				<td class="text-right"></td>
			</tr>
       	<tr>
				<td class="table-indent">Coste de producción por insumos: </td>
				<td class="text-right" id="total_supply">0</td>
				<td class="text-right">0</td>
			</tr>
	      <tr>
				<td class="table-indent">Coste de producción por máquina tercerizada: </td>
				<td class="text-right" id="total_mach_out">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td class="table-indent">Coste de producción por máquina propia: </td>
				<td class="text-right" id="total_mach_own">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td class="table-indent">Coste de producción por mano de obra: </td>
				<td class="text-right" id="total_man_pow">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="primary">
				<td class="table-indent">Coste de producción por ha: </td>
				<td class="text-right" id="total_ha">0</td>
				<td class="text-right">0</td>
			</tr>

			<tr>
				<td>Coste de producción de las unidades vendidas de la parcela : </td>
				<td class="text-right" id="total_cost_prod_plot">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Coste de comercialización :</td>
				<td class="text-right" id="total_spend">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="h6 font-weight-bold active" info>
				<td>Margen de producto :</td>
				<td class="text-right" id="margin_product">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Gastos indirectos de producción :</td>
				<td class="text-right" id="total_exp_indi">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Gastos de estructura :</td>
				<td class="text-right" id="total_stru">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Dotación a las amortizaciones :</td>
				<td class="text-right" id="total_depre">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="h6 font-weight-bold active" >
				<td>Resultado de explotación :</td>
				<td class="text-right" id="total_res_exp"></td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Ingresos Financieros :</td>
				<td class="text-right" id="total_fin_inco">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Gastos extraordinarios :</td>
				<td class="text-right" id="total_extra_expe">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="h6 font-weight-bold active">
				<td>Resultado ante impuestos :</td>
				<td class="text-right" id="res_before_trib">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr >
				<td>Resultado de. sociedades :</td>
				<td class="text-right" id="total_res_comp">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="h6 font-weight-bold warning">
				<td>Resultado despues de impuestos :</td>
				<td class="text-right" id="total_res_trib">0</td>
				<td class="text-right">0</td>
			</tr>
			<tr></tr>
		</tbody>
	</table>  
</div>






