<div class="table-responsive">
	<table id="tb_income" class="table table-condensed">
		<thead>
			<tr>
				<th>Descripción</th>
				<th>Monto</th>
				<th class="text-right">% sobre ventas</th>
			</tr>
		</thead>
		<tbody>
			<tr class="h6 font-weight-bold active">
				<td>Ventas brutas :</td>
				<td id="gross_sale"></td>
				<td class="text-right">100,00</td>
			</tr>
			<tr>
				<td>Devoluciones :</td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Descuentos : </td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="h6 font-weight-bold success">
				<td>Ventas netas : </td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Coste de producción de las unidades vendidas : </td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Coste de comercialización :</td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="h6 font-weight-bold active" info>
				<td>Margen de producto :</td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Gastos de estructura :</td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Dotación a las amortizaciones :</td>
				<td>0</td>
				<td class="text-right">0</td></tr>
			<tr class="h6 font-weight-bold active" >
				<td>Resultado de explotación :</td>
				<td></td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Ingresos Financieros :</td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr>
				<td>Gastos extraordinarios :</td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="h6 font-weight-bold active">
				<td>Resultado ante impuestos :</td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr >
				<td>Resultado de. sociedades :</td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr class="h6 font-weight-bold warning">
				<td>Resultado despues de impuestos :</td>
				<td>0</td>
				<td class="text-right">0</td>
			</tr>
			<tr></tr>
		</tbody>
	</table>  
</div>






