
<div id="md_historyProd" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Histórico de producción</h3>
            </div>

                <div class="modal-body">
                    <table data-toggle="table" id="tb_history_sale" data-url="../history_sales" data-sort-name="name" data-sort-order="desc">
                        <thead>
                            <tr>
                                <th data-field="id">Codigo</th>
                                <th data-field="date" data-sortable="true" >Fecha venta</th>                            
                                <th data-field="quantity" data-sortable="true">Cantidad</th>

                            </tr>
                        </thead>
                        <tbody class="hand">
                           <!--Cargado via json-->
                        </tbody>
                    </table>                       
                </div>
                <div class="modal-footer">
                   
                </div>

        </div>
</div>  

