<div class="panel-body">
    <div class="table-responsive">
        <table  data-width="100%"
                class="table  table-hover table-striped table-condensed display"
                data-toggle="table" 
                data-search="true" 
                data-toolbar="toolbar1"
                data-show-toggle="true"
                data-url="varieties"
                data-show-refresh="false"
                data-pagination="true"
                onlyInfoPagination="false"
                data-icons="icons"
                data-sort-name="code"
                data-sort-order="desc"
                data-card-view="false">
            <thead>
                <tr>
                    <th data-field="code">Código</th> 
                    <th data-field="descr">Descripción</th>                            
                    <th data-halign="right" data-align="right" data-formatter="actionFormatter" data-events="actionEvents">Acción</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" id="controller" value="<%= controller_name%>">
