<h1>Editing Cons Raw Material Detail</h1>

<%= render 'form', cons_raw_material_detail: @cons_raw_material_detail %>

<%= link_to 'Show', @cons_raw_material_detail %> |
<%= link_to 'Back', cons_raw_material_details_path %>
