<div class="panel-body">
    <div class="table-responsive">
        <table class="table  table-hover table-striped table-condensed display" id="table_type_of_crops" data-toggle="table" data-search="true" data-toolbar="toolbar2" data-show-toggle="true" data-url="type_of_crops" data-show-refresh="false" data-pagination="true" onlyInfoPagination="false" data-sort-name="name" data-sort-order="desc">
            <thead>
                <tr>
                    <th data-field="code"class="searchable">Codigo</th> 
                    <th data-field="name">Nombre</th>                            
                    <th data-field="variety" class="hidden-xs">Variedad</th> 
                    <th class="text-right">Acción</th>
                </tr>
            </thead>
            <tbody>
                <%= render "index"%>
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" id="controller" value="<%= controller_name%>"
