<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @type_machine.code %>
</p>

<%= link_to 'Edit', edit_type_machine_path(@type_machine) %> |
<%= link_to 'Back', type_machines_path %>
