   <div class="table-responsive">
      <table 
         data-flat="true"
         data-response-handler="flatJSON"
         data-search="true"                
         class="table table-hover table-striped table-condensed display" 
         data-toggle="table"
         data-show-toggle="true"                
         data-show-refresh="false" 
         data-pagination="true" 
         onlyInfoPagination="false" 
         data-icons="icons" data-sort-name="program_production_id" data-sort-order="desc" 
         data-card-view="false"
      >
         <thead>
            <tr>
               <th data-field="id" data-checkbox="false">#</th>
               <th data-field="program_production_id">Parcela</th>
               <th data-field="total" >Monto Total</th>  
               <th data-formatter="actionFormatter" data-align="right" data-events="actionEvents">Acción</th>
            </tr>
         </thead>
         <tbody>
            <% @structure_expenses.each do |structure_expense| %>
               <tr>
                 <td><%= structure_expense.id %></td>
                 <td><%= structure_expense.program_production.estimate_sale.farming_plot.name %></td>
                 <td><%= number_with_precision( structure_expense.total, :precision => 0, :delimiter => '.' )  %></td>
               </tr>
            <% end %>
         </tbody>
      </table>
   </div>
<input type="hidden" id="controller" value="<%= controller_name%>">

