#image_dashboard {
    vertical-align: 100%;
    height: 100%;
    width: 100%; 

}
.nav_left_sarah {
    background-color: #31708f !important;
}
.nav_top_sarah {
    background-color: #31708f !important;
}
.mouse_over_left_menu {
    background-color: #105c60 !important;
}


.nav-tabs>li.active>a{
    color: #000;
    border: -1px !important;
    background-color: #fff;
}
.panel-sarah 
{
    padding: 0px 0px;
    border-color: #d6d7d8;
}
.tabs_sarah
{
    border-bottom: 0px solid #ddd;
    margin-right: -5px; 
    line-height: 0px; 
    border: -2px solid transparent;
    border-radius: 0px 0px 0 0;
}
.alert_sarah 
{
    position: fixed;
    top: 16%;
    left: 21%;
    width: 60%;
    z-index: 1060;
    border-radius: 3px;
}
.hand 
{
    cursor:pointer;
}
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

.bv-form .help-block {
    margin-bottom: 0;
}
.bv-form .tooltip-inner {
    text-align: left;
}
.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}

.bv-form .bv-icon-no-label {
    top: 0;
}

.bv-form .bv-icon-input-group {
    top: 0;
    z-index: 100;
}
a {
    color: #fff;
    text-decoration: none;
}
#errors {
    border-left: 5px solid #a94442;
    padding-left: 15px;
}
#errors li {
    list-style-type: none;
}
#errors li:before {
    content: '\b7\a0';
}