#image_dashboard {
    vertical-align: 100%;
    height: 100%;
    width: 100%; 
    
}
.dataTables_filter{
    display: none;
}
.dataTables_length{
    display: none;
}
.dataTables_info{
     display: none;
}