<div class="row">
	<div class="col-md-4 col-sm-4"></div>
	<div class="col-md-8 col-sm-8">
		   <% if controller.action_name == "edit" %>
		     <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>  Cancelar".html_safe, "../../#{controller_name}",:type => "button",:class =>"btn btn-danger" %>

		   <% else %>

		     <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>  Cancelar".html_safe, "../#{controller_name}",:type => "button",:class =>"btn btn-danger" %>
		   <% end %>

		   <%= link_to "<i class='fa fa-floppy-o' aria-hidden='true'></i>  Guardar".html_safe, "../#{controller_name}",:type => "button",:class =>"btn btn-success",:id => "btn_submit_#{controller_name}" ,
	      data: { disable_with: " <i class='fa fa-spinner fa-spin'></i> Guardando" } %>

	</div>
</div>


 