<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h3>Eliminar</h3>
          </div>
          <div class="modal-body">
              <p>Esta seguro que desea eliminar?</p>
              </table>                       
          </div>
        <div class="modal-footer">                
            <button class="btn" type="reset" id="exit" data-dismiss="modal">Salir</button>
            <button class="btn btn-danger" id="btn_md_confirm">Eliminar
             <%= image_tag("ajax-loader.gif", :id=>"ajax-loader",:style=>"height:100px,width:100px", :class=>"hide") %>
            </button>
        </div>
    </div>
  </div>  
</div>
