<div class="form-group">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-10 col-lg-offset-2">
        <ul id="errors">
            <!--agregado dinamicamente los errores en caso de forzar validacion-->
        </ul>
    </div>
</div>
