<div class="modal fade"  id="dialog" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="true">
   <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h3>Eliminar</h3>
          </div>
          <div class="modal-body">
              <p>Esta seguro que desea eliminar?</p>
              </table>                       
          </div>
        <div class="modal-footer">                
            <button class="btn"type="reset" id="exit" data-dismiss="modal">Salir</button>
            <button class="btn btn-danger confirm" id="confirmationDialog"  data-dismiss="modal">Eliminar</button>
        </div>
    </div>
  </div>  
</div>
