<ul class="nav nav-tabs responsive tabs_sarah ">
    <li id="submenu_index" >      
    <a href="../../<%=controller_name%>" class="tabs_sarah">Listar</a>        
      </li>
    <li id="submenu_new">
       <a href="../<%=controller_name%>/new" class="tabs_sarah">Crear</a>      
    </li>
</ul>

<!-- js para activar/desactivar submenu -->
<script>
    var actionName = "<%=controller.action_name %>";
    if(actionName === "index"){
        $("#submenu_index").addClass("active");       
    }else if(actionName === "new" || actionName === "create"){
        $("#submenu_new").addClass("active");
    }
</script>