<ul class="nav nav-tabs responsive tabs_sarah ">
    <li id="submenu_index" >      
    <a href="../../<%=controller_name%>" class="tabs_sarah"><i class="fa fa-list-ul fa-lg" aria-hidden="true"></i> 
    	<span class="hidden-xs">Listar</span></a>        
      </li>
    <li id="submenu_new">
       <a href="../<%=controller_name%>/new" class="tabs_sarah"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> 
       	<span class="hidden-xs">Agregar</span></a>      
    </li>
</ul>
