<ul class="nav nav-tabs responsive tabs_sarah ">
    <li id="submenu_index" >      
    <a href="../../<%=controller_name%>" class="tabs_sarah" data-turbolinks-permanent><i class="fa fa-list-ul fa-lg" aria-hidden="true"></i> Listar</a>        
      </li>
    <li id="submenu_new">
       <a href="../<%=controller_name%>/new" class="tabs_sarah" data-turbolinks-permanent><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Agregar</a>      
    </li>
</ul>
